.know{
    margin: 3vw 8vw;
    display: flex;
    flex-direction: column;
}

.KnowName-grid .rowRadio-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
    margin-bottom: 3vh;
}

.container-flex{
    display: flex;
    gap: 30px;
    margin-bottom: 3vh;
}

#drawn-image{
    background-color: rgb(136, 93, 38);
    width: 40vw;
    height: 40vh;
}