*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#site-background{
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../public/imgs/site-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 92vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

a{
  text-decoration: none;
  font-weight: bold;
}

input{
  background-color: #F5F5F5;
  height: 4vh;
  margin: 2vh 0;
  border: 1px solid #DADADA;
  border-radius: 3px;
  padding: 3px 15px;
}
input:focus{
  outline: none;
  border: 1px solid rgb(7, 116, 194);
}